* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Amster, Yeseva One, 'Times New Roman', Times, serif;
  color: #e4bd75;
  background-color: #1c0606;
}

body {
  min-width: 360px;
  max-width: auto;
  max-height: auto;
  display: block;
  text-align: center;
  animation-name: fade;
  animation-duration: 2s;
  overflow-x: hidden;
}

.home h1 {
  transform: translateY(-50%);
  font-size: 3em;
}

.home h2 {
  transform: translateY(-50%);
  font-size: 3em;
}

header,
footer {
  width: 100%;
  background-color: #0F070C;
  position: relative;
  z-index: 1;
  opacity: 70%;
}

nav {
  padding: 20px;
  background-color: #0F070C;
  z-index: 1;
}

#menu-toggle {
  display: none;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  opacity: 100%;
}

nav a {
  text-decoration: none;
  color: #FFFFCE;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  margin: 20px;
  padding: 0px;
  opacity: 100%;
}

nav a:hover {
  color: #ad6029;
}

nav a:focus {
  color:#AFE5F9;
}

footer {
  height: 20vh;
  padding-top: 20px;
  color: #FFFFCE;
}

footer p {
  opacity: 100%;
}

.stripe1 {
  transform: translate(-50%, -50%);
  height: 500px;
  max-width: 100%;
  position: relative;
  z-index: -1;
  opacity: 100%;
  animation-name: fade;
  animation-duration: 4s;
}

.stripe2 {
  transform: translateY(-40%);
  height: 600px;
  max-width: 100%;
  position: fixed;
  z-index: -1;
}

@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.mainLogo {
  height: 300px;
  max-width: 100%;
  transform: translate(-135%, -30%);
  opacity: 100%;
  animation-name: fade;
  animation-duration: 4s;
}

.home-logo {
  transform: translateY(20%);
  height: 30px;
  max-width: 100%;
}

.home-logo2 {
  display: inline-block;
  margin-right: 40px;
  height: 30px;
  max-width: 100%;
  display: none;
}

.triangle {
  transform: translate(-50%, -30%);
  position: absolute;
  z-index: -1;
  height: 500px;
  max-width: 100%;
}

.aboutme {
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
  padding-top: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.aboutme-title {
  font-size: 2em;
}

.aboutme h2 {
  transform: translateY(-70%);
  grid-column-start: 2;
  grid-row-start: 2;
}

.aboutme p {
  text-indent: 10%;
  text-align: justify;
  padding: 30px;
  transform: translateY(-50%);
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #0F070C;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.self-portrait {
  display: grid;
  grid-column-start: 1;
  height: 500px;
  max-width: 100%;
  transform: translateY(50%);
  padding: 20px;
  background-color: #0F070C;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 100px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-top: 100px;
}

.project {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.project h2 {
  color: #60CF92;
  padding-top: 50px;
  grid-column-start: 2;
  grid-column-end: 2;
}

.project iframe {
  grid-column-start: 1;
  margin-left: auto;
}

.project p {
  color: #60CF92;
  grid-column-start: 2;
  grid-column-end: 2;
  padding: 50px;
  margin-right: 30px;
  text-align: justify;
}

.contact {
  padding-top: 150px;
  color: #28A8AD;
}

.contact h2 {
  background-color: #0F070C;
  padding-top: 20px;
}

.contact-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  margin-left: -50px;
}

.contact img {
  margin-left: auto;
}

.contact a {
  text-decoration: none;
  color:#28A8AD;
}

.contact a:hover {
  color: #053040;
}

.contact a:focus {
  color:aliceblue;
  text-decoration: underline;
}

.contact li {
  list-style-type: none;
  background-color:#0F070C;
}

.contact p {
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: left;
}

.contact ul {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #0F070C;

}

.envelope {
  height: 30px;
  max-width: 100%;
}

.phone {
  height: 50px;
  max-width: 100%;
}

/*media screen directions*/

@media screen and (max-width: 1490px) {

  .aboutme h2 {
    transform: translateY(-70%);
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .aboutme p {
    text-indent: 10%;
    text-align: justify;
    transform: translateY(-50%);
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #0F070C;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

 .self-portrait {
  display: relative;
  align-content: center;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  
 }

}

@media screen and (max-width: 1110px) {
  body {
    max-width: 1110px;
  }

  .mainLogo {
    display: block;
    transform: translate(125%, -50%);
  }

  .stripe1 {
    transform: translate(-50%, -50%);
    height: 400px;
    max-width: 100%;
    position: relative;
    z-index: -1;
    opacity: 100%;
    animation-name: fade;
    animation-duration: 4s;
  }

  .stripe2 {
    transform: translate(70%, 40%);
    height: 400px;
    max-width: 100%;
    position: relative;
    opacity: 100%;
    animation-name: fade;
    animation-duration: 4s;
  }

  .home-logo {
    height: 30px;
    max-width: 100%;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .aboutme h2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .aboutme p {
    text-indent: 10%;
    text-align: justify;
    padding: 30px;
    grid-column-start: 1;
    grid-row-start: 3;
    background-color: #0F070C;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  .self-portrait {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 500px;
    max-width: 100%;
    margin-bottom: 40px;

  }

  .project {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project iframe {
    margin-left: 0%;
  }

  .project h2 {
    grid-column-start: 1;
  }

  .project p {
    grid-column-start: 1;
  }
}



@media screen and (max-width: 800px) {
  body {
    max-width: 800px;
  }

  .mainLogo {
    transform: translate(75%, -60%);
  }

  .home-logo2 {
    display: inline;
    margin-left: 60px;
  }

  nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style-type: none;
  }

  label {
    cursor: pointer;
    display: vertical;
    padding: 0px 0px;
    position: relative;
    user-select: none;
  }

  label span {
    background-color: #e4bd75;
    height: 2px;
    position: relative;
    float: right;
    transition: background-color .2s ease-out;
    width: 20px;
  }

  label span:before,
  label span:after {
    background: #e4bd75;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    padding-bottom: 0.5px;
  }

  label span:before {
    top: 7px;
  }

  label span:after {
    top: -7px;
  }

  input {
    display: none;
  }

  input:checked~ul {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  input:checked~label span {
    background: transparent;
  }

  input:checked~label span:before {
    transform: rotate(-45deg);
  }

  input:checked~label span:after {
    transform: rotate(45deg);
  }

  input:checked~label:not(.steps) span:before,
  input:checked~label:not(.steps) span:after {
    top: 0;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 590px) {

  .mainLogo {
    transform: translate(20%, -25%);
  }


  .triangle {
    transform: translate(-50%, -30%);
    position: absolute;
    z-index: -1;
    height: 400px;
    max-width: 100%;
  }

  .aboutme {
    max-width: 500px;
  }

  .aboutme p {
    max-width: 500px;
    
  }

  .self-portrait {
    transform: translate(-1%, 60%);
    height: 400px;
    margin-bottom: 40px;
  }

  .portfolio {
    max-width: 100%;
  }

  .project iframe {
    width: 500px;
    margin: 0 auto;
  }

  .project video {
    width: 500px;
    margin: 0 auto;
  }

  .project img {
    width: 500px;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  html {
    max-width: 360px;
  }

  .home h1 {
    padding-bottom: 20px;
  }

  .home h2 {
    padding: 20px;
  }

  .self-portrait {
    height: 300px;
    max-width: 50%;
  }

  .project iframe {
    width: 300px;
    margin: 0 auto;
  }

  .project video {
    width: 300px;
    margin: 0 auto;
  }

  .project img {
    width: 300px;
  }
}